@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.home-hero {
  position: fixed;
  top: $header-height;
  right: 0;
  bottom: $footer-height;
  left: 0;

  @include breakpoint-up('md') {
    top: $header-height-md;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
