@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.masonry-grid {
  column-count: 1;
  column-gap: $space-4;

  > * {
    break-inside: avoid;
    margin-bottom: $space-4;
  }

  @include breakpoint-up('md') {
    column-count: 2;
    column-gap: $space-6;

    > * {
      margin-bottom: $space-6;
    }
  }

  @include breakpoint-up('lg') {
    column-count: 3;
  }
}
