@use '@/styles/variables' as *;

.painting-section {
  display: flex;
  flex-direction: column;
  gap: $space-8;

  &__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: $space-4;
  }

  &__heading {
    margin: 0;
    font-size: $font-size-2xl;
  }
}
